@import variables
@import mixins

// light theme (backslash required because sass doesn't like mixing techniques)
\:root
    --sol-bd:      #{$base3}  // Solarized background default
    --sol-bh:      #{$base2}  // Solarized background highlight
    --sol-sc:      #{$base1}  // Solarized secondary content
    --sol-pc:      #{$base00} // Solarized primary content
    --sol-ec:      #{$base01} // Solarized emphasized content
    --sol-yellow:  #{$yellow}
    --sol-orange:  #{$orange}
    --sol-red:     #{$red}
    --sol-magenta: #{$magenta}
    --sol-violet:  #{$violet}
    --sol-blue:    #{$blue}
    --sol-cyan:    #{$cyan}
    --sol-green:   #{$green}
//dark theme
[data-theme="dark"]
    --sol-bd:      #{$base03} // Solarized background default
    --sol-bh:      #{$base02} // Solarized background highlight
    --sol-sc:      #{$base01} // Solarized secondary content
    --sol-pc:      #{$base0}  // Solarized primary content
    --sol-ec:      #{$base1}  // Solarized emphasized content
