@import variables
@import mixins

// Solarized light (default theme)
\:root
    --sol-background: #{$base3}
    --sol-background-trans: #{$base3-trans}
    --sol-highlight:  #{$base2}
    --sol-highlight-trans: #{$base2-trans}
    --sol-primary:    #{$base01}
    --sol-secondary:  #{$base00}
// Solarized dark
[data-theme="dark"]
    --sol-background: #{$base03}
    --sol-background-trans: #{$base03-trans}
    --sol-highlight:  #{$base02}
    --sol-highlight-trans: #{$base02-trans}
    --sol-primary:    #{$base1}
    --sol-secondary:  #{$base0}
