@import variables
@import mixins

body
    margin: 8px

.container
    font-family: "Open Sans", sans-serif
    display: grid
    grid-template-columns: 350px auto
    grid-template-rows: 50px auto 50px
    grid-column-gap: 15px
    grid-row-gap: 10px
    grid-template-areas: "logo main" "sidebar main" "sidebar-footer main-footer"
    min-height: 98vh
    max-width: 1920px

.logo-area
    grid-area: logo

    .logo
        text-align: center
        background-color: var(--sol-background-trans)
        border-radius: 10px

        .logo-content
            font-family: "Open Sans", sans-serif
            font-weight: 600
            font-size: 30px
            line-height: 50px
            text-decoration: unset

.main-area
    grid-area: main

    .main

        .heading
            line-height: 50px
            padding-left: 10px
            margin-bottom: 10px
            background-color: var(--sol-highlight)
            border-radius: 10px

            h1
                font-family: "Open Sans", sans-serif
                font-size: 30px
                margin: 0

            .heading-home
                font-family: "Open Sans", sans-serif
                font-weight: 600

.sidebar-area
    grid-area: sidebar

.main-footer-area
    grid-area: main-footer

    .main-footer
        line-height: 50px
        background-color: var(--sol-highlight)
        border-radius: 10px
        padding-left: 10px

.sidebar-footer-area
    grid-area: sidebar-footer

    .sidebar-footer
        text-align: center
        line-height: 50px
        background-color: var(--sol-background-trans)
        border-radius: 10px

.background
    position: fixed
    top: 0
    left: 0
    z-index: -42
    height: 100vh
    width: 365px
    overflow: hidden
    justify-content: center
    display: flex

    img
        width: auto
        height: 100%
