asgiref>=3.3.1
beautifulsoup4>=4.9.3
Django>=3.1.6
django-environ>=0.4.5
gunicorn>=20.0.4
Markdown>=3.3.3
markdown-checklist>=0.4.3
markdown-djangostaticimage>=0.1
Pillow>=8.1.0
python-slugify>=4.0.1
pytz>=2021.1
soupsieve>=2.1
sqlparse>=0.4.1
text-unidecode>=1.3
