asgiref>=3.2.3
beautifulsoup4>=4.8.2
Django>=3.0.2
django-environ>=0.4.5
gunicorn>=20.0.4
Markdown>=3.1.1
markdown-checklist>=0.4.1
markdown-djangostaticimage>=0.1
Pillow>=7.0.0
pip>=19.3.1
python-slugify>=4.0.0
pytz>=2019.3
setuptools>=45.0.0
soupsieve>=1.9.5
sqlparse>=0.3.0
text-unidecode>=1.3
