asgiref>=3.2.3
beautifulsoup4>=4.8.1
Django>=3.0
django-environ>=0.4.5
gunicorn>=20.0.4
Markdown>=3.1.1
markdown-checklist>=0.4.1
markdown-djangostaticimage>=0.1
Pillow>=6.2.1
pip>=19.3.1
pytz>=2019.3
setuptools>=42.0.2
soupsieve>=1.9.5
sqlparse>=0.3.0
