<div class="main-footer-area">
    <div class="main-footer">
            <span>
                <a href="https://gitlab.com/htdutchy/markdown-blog" target="_blank">Source Code</a>
            </span>
    </div>
</div>
<div class="sidebar-footer-area">
    <div class="sidebar-footer">
        <span>&copy; {% now "Y" %}</span>
        <span class="darkmode-switch">
                <label id="darkmode-switch-label" class="darkmode-switch" for="darkmode-switch">
                    <input type="checkbox" id="darkmode-switch">
                    <span class="darkmode-slider"></span>
                </label>
            </span>
    </div>
</div>
