<!DOCTYPE html>
<html lang="en" data-theme="light">
{% include "components/head.html" %}
<body>
<div class="container">
    {% include "components/logo-area.html" %}
    <div class="sidebar-area">
        <div class="sidebar">
            {% block sidebar %}
                <pre>Templating error: sidebar block missing</pre>
            {% endblock %}
        </div>
    </div>
    <div class="main-area">
        <div class="main">
            <div class="heading">
                {% block content_header %}
                    <pre>Templating error: content_header block missing</pre>
                {% endblock %}
            </div>
            <div class="content">
                {% block content %}
                    <pre>Templating error: content block missing</pre>
                {% endblock %}
            </div>
        </div>
    </div>
    {% include "components/footers.html" %}
</div>
{% include "components/background.html" with background_img=background_img %}
</body>
{% include "components/tail.html" %}
</html>
