{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dist/main.css' %}?cb=1580934604917">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontawesome/css/all.min.css' %}">
</head>
<body>
<div class="container">
    <div class="sidebar">
        <a class="sidebar-logo" href="/"><span>Your logo here</span></a>
        <div class="sidebar-list">
            {% block sidebar %}
                Templating error
            {% endblock %}
        </div>
    </div>
    <div class="main">
        <div class="heading">{% block header_title %}<h1>{{ header_title }}</h1>{% endblock %}</div>
        <div class="content">
            {% block content %}
                Templating error
            {% endblock %}
        </div>
    </div>
    <div class="sidebar-footer">
        &copy; {% now "Y" %}
    </div>
    <div class="footer">
        <p>
            <a href="https://gitlab.com/htdutchy/markdown-blog" target="_blank">Source Code</a>
        </p>
        <p class="darkmode-switch">
            <label id="darkmode-switch-label" class="darkmode-switch" for="darkmode-switch">
                <input type="checkbox" id="darkmode-switch">
                <span class="darkmode-slider"></span>
            </label>
        </p>
    </div>
</div>
<div class="background">
    <img src="{% static 'default.jpg' %}" alt="Background Image"/>
</div>
</body>
<script src="{% static 'dist/main.js' %}?cb=1580934604917"></script>
</html>
