{% extends "base_alt.html" %}
{% load static %}

{% block content_header %}
    <h2>Articles</h2>
{% endblock %}
{% block content %}
    <div class="category-list">
        {% for article in articles %}
            <div class="article" onclick="location.href='{{ article.url }}';">
                <div class="article-head">
                    <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
                </div>
                <span class="meta">
                        By {{ article.author }} | On {{ article.published }} | In <a href="{{ article.category.url }}">{{ article.category.title }}</a>
                    </span>
                <span class="visited" data-url="{{ article.url }}"></span>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block sidebar %}
    <div class="sidebar-category-block">
        <h1>{{ category.title }}</h1>
        <div class="category">
            {{ category.description }}
        </div>
    </div>
{% endblock %}
